*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
.app {
    min-height: 100vh;
    font-family: "Rubik", sans-serif;
}

header {
    padding: 1.5rem 2.5rem;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.5rem;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    font-weight: 500;
}

.warning-text {
    margin-top: 0.5rem;
    font-size: 0.89rem;
    color: #4e4e4e;
    padding-inline: 0.8rem;
    text-align: center;
}

#file-picker {
    display: none;
}

.upload-button {
    margin-top: 2rem;
    background-color: #009879;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
}

.upload-button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

.upload-button:not([disabled]):hover {
    background-color: #00ab89;
}

.upload-button:not([disabled]):active {
    background-color: #00725c;
}

.file-selected-label {
    margin-top: 1.5rem;
    font-weight: 400;
    color: #4e4e4e;
    font-style: italic;
}

article {
    margin-top: 3.5rem;
}

.title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
